.navbar-inverse {
    background-color: #333;
    border-color: #3465a4;
}

.navbar-inverse .navbar-nav > li > a {
    color: #bbd1e7;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

a.list-group-item.active{
	background-color: #333;
}

a.list-group-item.active:hover, a.list-group-item.active:focus {
	background-color: #820101;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #333;
    color: #FFFFFF;
}

 th {
    background-color: #333;
    color:#fff;
}

.page-header {
  margin: 0 0 20px;
  padding: 0;
}

.page-header h3 {
  margin: 0 0 10px;
  padding:0;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding: 80px 15px 0;
}
.container .credit {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

code {
  font-size: 80%;
}

#logout {
  color:#FF0000;
}

html, body{font-size:12px;}
.smaller {width:70px;}


.block_modal{
	{
		position: fixed; 
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #000;
		opacity: 0.8;
		filter: alpha(opacity=80);
		z-index:50;
	}
}

.text-bold{
	font-weight:bold;
}

.text-right{
	text-align:right;
}

.text-left{
	text-align:left;
}

.text-center{
	text-align:center;
}

.total_number{
	color:#3b5998;font-weight:bold;font-size:12pt;
}


fieldset {
	background-color:#ddd;
	padding: 5px 5px;
	border-radius: 5px;
}

fieldset legend {
	background: #1F497D;
	color: #fff;
	padding: 2px 2px ;
	font-size: 12px;
	border-radius: 5px;
	box-shadow: 0 0 0 5px #ddd;
	
}
