.text-center{
	text-align: center;
}

.text-right{
	text-align: right;
}

.bold{
	font-weight: bold;
}

.italic{
	font-style: italic;
}

.fsize-8{
	font-size: 8pt;
}

.fsize-9{
	font-size: 9pt;
}

.fsize-10{
	font-size: 10pt;
}

.fsize-11{
	font-size: 11pt;
}

.fsize-12{
	font-size: 12pt;
}

.fsize-13{
	font-size: 13pt;
}

.fsize-14{
	font-size: 14pt;
}